@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Focus states */
button:focus-visible,
select:focus-visible,
input:focus-visible {
  @apply outline-2 outline-offset-2 outline-cc-blue;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
